/* CSS Properties */

:root {
    --cprimary: #8ae8e6;
    --csecondary: #2b5578;
    --ctertiary: #323b43;
    --clight: #dfe4e8;
    --ffamily: 'tahoma', 'verdana', sans-serif;
}


/* Decoration */

body {
    background-color: var(--clight);
    font-family: var(--ffamily);
    line-height: 1.5;
    color: var(--ctertiary);
}

h1 {
    color: var(--ctertiary);
    background-color: var(--cprimary);
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

header {
    background-color: var(--ctertiary);
}

header a {
    padding: 3px 5px;
    color: var(--cprimary);
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid;
}

.banner .subtitle {
    background-color: var(--cprimary);
    font-size: 26px;
    font-weight: 600;
}

.section-header {
    text-align: right;
}

.section-body {
    border-left: var(--csecondary) solid 2px;
}



.project-list .overlay {
    display: flex;
    border: var(--cprimary) 4px solid;
    background: var(--csecondary);
}

.project-list img {
    position: relative;
    opacity: 0.8;
    transition: all 0.5s;
}

.project-list img:hover {
    opacity: 1;

}

/*** Structure  ***/

/* Header */
header {
    position: sticky;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

h1 {
    display: inline-block;
    padding: 0.5rem 0.5rem 0.5rem 4rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

nav {
    display: flex;
    align-items: center;
    padding-right: 3rem;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
}

.nav-list li {
    padding: 0 5px;
}

/* Body */
.banner {
    display: flex;
    justify-content: center;
    position: relative;
}
.banner img, .project-list img {
    height: 100%;
    width: 100%;
}

.banner .subtitle {
    position: absolute;
    padding: 0.5rem;
    right: 3rem;
    bottom: 1rem;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1rem 0;
}

section.banner {
    margin: 0;
}

.section-header {
    width: 13%;
    margin-right: 2%;
}

.section-body {
    width: 62%;
    padding-left: 3%;
}
